.product {
	width: 75%;
	float: left;

	.product__item {
		width: 20%;
		display: inline-block;
		padding: 10px;
		background: $color-white;
		margin: 20px;

		p {
			min-height: 40px;
		}

		&:after {
			clear: both;
		}

		.product__text {
			min-height: 50px;
		}

		.product__image {
			width: 100%;
			overflow: hidden;

				img {
					height: auto;
					width: 100%;
				}
		}
	}
}
